<section>
  <h3>{{titulo}}</h3>
  <div *ngIf="proyectos && proyectos.length > 0; else empty" style="margin-left: 25px;">
      <div *ngFor="let proyecto of proyectos"  class="row" >
          <div class="column1">
            <span>{{proyecto.codigo}} - {{proyecto.nombre}}</span>
          </div>
          <div class="column2">
              <input value="Eliminar" type="button" (click)="elimina.emit(proyecto)" />
              <a routerLink="{{proyecto._id}}" class="button"><span>Ver</span></a>
          </div>
        </div>
  </div>
  <ng-template #empty><div style="margin-left: 25px;"><i>{{msgNoProyectos}}</i></div></ng-template>
</section>

<br>

<!--br-->
  <!--input value="CargaAPI" type="button" (click)="cargaAPI.emit()" /-->
  <!--input value="BorraAPI" type="button" (click)="borraAPI.emit()" /-->
