<form [ngClass]="{ hidden: formHidden }" *ngIf="formHidden == false; else empty">
  <h3>Datos del Proyecto:</h3>
  <div style="margin-left:30px">
      <section>
          <label for="name">Id</label>
          <input name="name" type="text" [(ngModel)]="proyecto.id" placeholder="Identificador Proyecto" />
        </section>
        <section>
            <label for="name">Nombre</label>
            <input name="name" type="text" [(ngModel)]="proyecto.nombre" placeholder="Nombre Proyecto" />
          </section>
        <input value="Guardar" type="submit" (click)="guardarProyecto()" />
   </div>
</form>
<!--<pre>{{ proyecto | json }}{{formHidden}}</pre>-->
<ng-template #empty>
  <br>
  <i>El proyecto se ha creado correctamente</i>
  <a routerLink="/projects" routerLinkActive="router-link-active" class="button">
      <span>Volver</span>
  </a>
</ng-template>
