<div style="padding: 20px;">
    <h3>{{titulo}}</h3>
    <div style="margin-left:30px">
      <form [formGroup]="formGroup">
        <section>
          <label for="codigo">Id</label>
          <!--input name="codigo" type="text" readonly value="{{idProyecto}}" /-->
          <input name="codigo" type="text" readonly formControlName="codigo" value="{{idProyecto}}"/>
        </section>
        <section>
          <label for="nombre">Nombre</label>
          <!--input name="nombre" type="text" readonly value="{{nombreProyecto}}" /-->
          <input name="nombre" type="text" readonly formControlName="nombre" value="{{nombreProyecto}}"/>
        </section>
      </form>
    </div>
</div>
<!--<pre>{{ proyecto | json }}</pre>-->
